html {
    scroll-behavior: smooth;
}

#header1 {
    background-color: rgb(52, 52, 52);
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 75px;
    z-index: 3;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
}

#logo_i {
    height: 72px;
    width: 150px;


}

#header_language-currnecy {
    padding-left: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: right;

}

#header_log-reg {
    padding-right: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: right;
}

.Header_b {
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-family: Bahnschrift;
}

.Header_b:hover {
    color: rgb(239, 109, 2);
    background-color: rgb(0, 0, 0);
}

body {
    height: 5000px;
}




#footer {
    background-color: rgb(52, 52, 52);
    color: white;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 75px;
    z-index: 3;
    text-align: center;
}

.footer-links {
    list-style: none;
    display: inline-flex;
    flex-direction: row;
    color: white;
    padding: 0px;



}

.info-links {
    color: white;
    font-family: Bahnschfrift;
    text-decoration: none;
    align-items: center;
}

.info-links:hover {
    color: rgb(239, 109, 2);
    font-size: 16px
}

#list-footer {
    padding-left: 50px;
}